.sous-section{
    background-color: red;
    width: 200px;
}

h1{
    font-size: 90px;
}

#div_3{
    color : white
}

span.num{
    color: yellow;
}

#paragraphe-bold{
    font-weight: bold;
}

.active{
    background-color: green;
}